:root {
  --main-color: #0d6efd;
  --sidebar-width: 250px;
  --sidebar-negative-width: -250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
}

/* start header */
nav a.navbar-brand,
nav a.navbar-brand:hover,
nav a.navbar-brand:focus {
  color: var(--main-color);
  font-weight: bold;
  font-size: 25px;
}

img.logo-img{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

img.header-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

@media (width < 540px) {
  img.header-img {
    width: 35px;
    height: 35px;
  }
  .bars-icon svg {
    font-size: 15px;
  }
}

.bars-icon {
  cursor: pointer;
}

.bars-icon svg {
  color: var(--main-color);
}

/* end header */

/* start sidebar */
.sidebar {
  width: var(--sidebar-width);
  background: #f5f5f5;
  min-height: 100vh;
  position: fixed;
  right: 0px;
  transition: all 0.4s linear;
  top: 66px;
}

.sidebar.active {
  right: var(--sidebar-negative-width);
}

aside ul li {
  padding: 0px !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  overflow: hidden;
  -o-border-radius: 5px;
}

aside li a {
  text-decoration: none;
  display: block;
  padding: 8px;
  font-size: 19px;
  font-weight: 600;
}

aside li a.active {
  background: var(--main-color) !important;
  color: #fff !important;
}

/* end sidebar */

/* start main */
main {
  width: calc(100vw - var(--sidebar-width));
  right: var(--sidebar-width);
  position: relative;
  top: 66px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

main.active {
  width: 100vw;
  right: 0px;
}

.form-check {
  width: 80px;
  margin-block: 20px;
}

textarea {
  resize: none;
}
